<div class="terminal-intro" id="terminal-intro">
    <div class="terminal-container">
        <div class="terminal-header">
            <div class="terminal-button red"></div>
            <div class="terminal-button yellow"></div>
            <div class="terminal-button green"></div>
        </div>
        <div class="terminal-content">
            <div class="terminal-line">
                <span id="typing-text"></span>
                <span class="cursor"></span>
            </div>
            <div class="terminal-welcome hidden">
                <p class="welcome-text">// Bienvenue sur mon portfolio</p>
            </div>
        </div>
    </div>
</div>

<div class="home-content" id="main-content" style="display: none;">
    <div class="ascii-art">
        {" " }
    </div>
    <div class="intro-text">
        <h1>// Bonjour je suis chadi  ...</h1>
        <div class="typing-text">Etudiant en Réseaux & Télécommunications</div>
        <p class="comment">// Passionné par le domaine du réseau et de l'informatique dans son ensemble</p>
        <div class="scroll-indicator">
            <span>scroll down</span>
            <div class="arrow">↓</div>
        </div>
    </div>
</div>