<div class="resume-container">
    <object
        data="/documents/CV_Chadi_Abouhaik.pdf"
        type="application/pdf"
        width="100%"
        height="100%">
        <p>Impossible d'afficher le PDF ? <a href="/documents/CV_Chadi_Abouhaik.pdf">Cliquez ici pour le télécharger</a></p>
    </object>
</div>